---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
      <!--
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
      -->
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Tales of Trails{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}‘Tales of Trails’ is a picture blog of the places we stumbled upon. It is often said that a picture is worth a thousand words, but at times, even a thousand words cannot tell the full story. It still needs a few more words. ‘Tales of Trails’ is about those few more words. Follow me as we give you a glimpse to some of the simple, yet magnificent wonders of the world!{% endif %}</p>
          <p class="author_subtitle">Photographer: Zilhaz Jalal Chowdhury <br/>Collaborator: Sadea Shahan</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
